<template>
    <div class='wrapper'>
        
        <form action="#" class='form-search' @submit.prevent='submit'>
            <div class="form-group">
                <div class="col-1">
                    <img src='../assets/logo.png' alt="logo" class='logo'>
                </div>
                <div class="col-2">
                    <input
                        class="form-input"
                        type='text'
                        placeholder='Start typing to search...' 
                        v-model='query'
                    />
                </div>
            </div>
        </form>


        <div class="navbar">
            <button v-bind:class="{ 'btn-all-characters' : true, 'btn-all-characters-active' : (!isFavoritesDisplayed) }"
             @click='onAllCharactersActive'>All Characters</button>
            <button v-bind:class="{ 'btn-favorites' : true, 
            'btn-favorites-active' : (isFavoritesDisplayed) }"            
             @click='onFavoritesActive'>Favorites</button>
        </div>

        <div class="table-responsive">
            <table class="table table-hover" v-if="!isLoading">
                <thead>
                    <tr class='tableHead'>
                        <th>Photo</th>
                        <th>Character ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Species</th>
                        <th>Add to favorite</th>
                    </tr>
                </thead>
                <tbody>
                    <tr 
                        v-for='item in filtered' 
                        :key='item.id' 
                        class='tableRow'
                        >

                        <td>
                            <img :src='item.image' alt='characterImage' class='characterImage'>
                        </td>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td class='td'>
                            <div v-if="item.gender == 'Male'">
                                <span class="material-icons">male</span>
                            </div>
                            <div v-else-if="item.gender == 'Female'">
                                <span class="material-icons">female</span>
                            </div>
                            <div v-else-if="item.gender == 'Genderless'">
                                <span class="material-icons">close</span>
                            </div>
                            <div v-else-if="item.gender == 'unknown'">
                                <span class="material-icons">horizontal_rule</span>
                            </div>
                            <div v-else>
                                <span></span>
                            </div>
                            {{ item.gender }}
                        </td>
                        <td>{{ item.species }}</td>
                        <td>
                            <button v-bind:class="{ 'button-favorite' : true, 'button-favorite-active' : (favorites.indexOf(item.id) > -1) }" @click='onFavorite(item.id)'>
                                <span class="material-icons lightblue" >star</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <b-pagination
            class='customPaginaton'
            @change='handlePageChange'
            v-model='currentPage'
            :total-rows='rows'
            :per-page='perPage'
            first-number
            last-number
        ></b-pagination>
        
    </div>
</template>

<script>

import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';


Vue.use(VueAxios, axios)

export default {
     
    name: 'Table',
    
    data() {
        return {
            query: '',
            list: [],
            favorites: [],
            isFavoritesDisplayed: false,
            currentPage: 1,
            page: 1,
            rows: 671,
            perPage: 20,
            isLoading: false
        };
    },

    computed: {
        filtered: function() {
            return this.list.filter(item => item.name.toLowerCase().includes(this.query));
        }
    },

    methods: {
        onFavorite: function(id) {
            let index = this.favorites.findIndex((id0) => {
                return id0 === id
            })
            if (index === -1) {
                this.favorites.push(id)
            } else {
                this.favorites.splice(index, 1)
            }
            localStorage.setItem('myFavorites', JSON.stringify(this.favorites))
        },
        
        onAllCharactersActive: function(){
           this.isFavoritesDisplayed = false;
           this.loadData(1)
        },

        onFavoritesActive: function () {
            this.isFavoritesDisplayed = true;
            this.loadData(1)
        },

        handlePageChange(value) {
            this.loadData(value);
        },

        loadData(page) {
            this.isLoading = true;
            if (this.isFavoritesDisplayed) {
                this.loadFavorites(page);
            } else {
                this.loadPage(page);
            }
        },

        loadPage(page) {
            Vue.axios.get('https://rickandmortyapi.com/api/character/?page=' + page)
                .then((response) => {
                    this.list=response.data.results;
                    this.currentPage= page;
                    this.rows = response.data.info.count;
                    this.isLoading = false;
                });
        },

        loadFavorites(page) {
            this.rows = this.favorites.length;
            this.currentPage = page;

            if (this.favorites.length === 0) {
              this.list  = [];
              this.isLoading = false;
              return;
            }

            let subFavoritesIds = this.favorites.slice((page-1)*this.perPage, page*this.perPage);
            Vue.axios.get('https://rickandmortyapi.com/api/character/' + subFavoritesIds)
                .then((response) => {
                    if (subFavoritesIds.length > 1) {
                      this.list = Array.from(response.data);
                    } else {
                      this.list = Array.of(response.data);
                    }
                    this.isLoading = false;
                });
        }
    },

    mounted() 
        {
            let JSONfavorites = localStorage.getItem('myFavorites')
            if (JSONfavorites) this.favorites = JSON.parse(JSONfavorites)
            this.loadPage(1);
        },
}

</script>   

<style>

*{
    box-sizing: border-box;
    padding: 0px;
}

.wrapper {
    width: 1920px;
}

.form-group {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 134px;
    border-bottom: 1px solid #E5EAF4;
}

.col-1{
    position:absolute;
}

.col-2{
    margin-left: 460px;
    margin-top: 38px;
    position:absolute;
    width: 505px;
    height: 56px;
    /* display: flex; */
    justify-content: space-between;
}

.form-input {
    position: relative;
    padding: 10px;
    width: 505px;
    height: 56px;
    border-radius: 12px;
    background: url(../assets/search_black_24dp.svg) 465px no-repeat;
}

#search-icon{
    position: absolute;
    right: -235px;
    top:0px;
    padding: 16px;
    color: #11b0c8;
}

.logo {
    position: absolute;
    margin-left: 140px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 240px;
}

.form-input::placeholder {
    margin-left: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 186px;
    height: 24px;
}


.navbar{
    
    display: inline-block;
    vertical-align: middle;
    height: 79px;
    padding: 0px;
    
}

.btn-all-characters{
    margin-top: 25px;
    position:absolute;
    width: 115px;
    height: 30px;
    margin-left: 140px;
    background-color: #fff;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #A9B1BD;
    font-size: 16px;
    line-height: 24px;
}

.btn-all-characters-active{
    margin-top: 25px;
    position:absolute;
    width: 115px;
    height: 30px;
    margin-left: 140px;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #11b0c8;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #11b0c8;
    font-size: 16px;
    line-height: 24px;
}

.btn-favorites{
    margin-top: 25px;
    position:absolute;
    width: 74px;
    height: 30px;
    margin-left: 335px;
    background-color: #FFF;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #A9B1BD;
    font-size: 16px;
    line-height: 24px;
}

.btn-favorites-active{
    margin-top: 25px;
    position:absolute;
    width: 74px;
    height: 30px;
    margin-left: 335px;
    background-color: #FFF;
    border: none;
    border-bottom: 1px solid #11b0c8;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #11b0c8;
    font-size: 16px;
    line-height: 24px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.tableHead {
    height: 54px;
    width: 1920px;
    left: 0px;
    top: 213px;
    background: rgba(229, 234, 244, 0.25);
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A9B1BD;
    vertical-align: middle;
    padding: 0px !important;
}

.table thead th {
    box-sizing: border-box;
    font-weight: normal;
    vertical-align: middle !important;
    padding: 0px;
    border: 0;
}

.tableHead > th:first-child {
  padding-left: 140px;
}

.tableRow {
    box-sizing: border-box;
    border-top: 0px;
    height: 84px !important;
    margin-left: 140px;
}

.tableRow > td:first-child {
  padding-left: 140px !important;
}

.tr {
    position: relative;
}

.table td {
    vertical-align: middle !important;
    padding: 0px !important;
    border-bottom: 1px solid #E5EAF4;
    border-top: 0px;
}

.td {
    position: relative;
    display: flex;
    padding: 0px !important;
    height: 84px;
    align-items: center;
    border-top: 0px;
}

.characterImage {
    position: relative;
    display: inline-block;
    height: 68px;
    width: 43px;
    object-fit: cover;
}

.button-favorite {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0px;
    height: 43px;
    width: 43px;
    border-radius: 8px;
    background-color: none;
    border: 2px solid #11B0C8;
}

.material-icons.lightblue {
    position: absolute;
    color: #11B0C8;
    right: 7px;
    top: 7px;
}

.button-favorite-active {
    background: lightblue;
}

ul {
    padding-left: 140px !important;
}

.page-link {
    color: #A9B1BD;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    border-radius: 4px;
}

.page-item.active .page-link {
    color: #A9B1BD;
    border-color: #A9B1BD;
    color: #E5E5E5;
    background-color: #11B0C8 !important; 
}


</style>