
<template>
    <div id="app">
        <Table/>
    </div>
</template>


<script>
import Table from './components/Table';

export default {
    name: 'App',

    components: {
        Table
    },
}
</script>

